POSTGRES_USER=colokin
POSTGRES_PASSWORD=change_me_strong_prod_database_password
POSTGRES_DB=colokin
DATABASE_URL=postgresql://colokin:change_me_strong_prod_database_password@postgres:5432/colokin?schema=public

COMPOSE_PROJECT_NAME=colokin-prod
API_HOST_BIND=0.0.0.0
API_HOST_PORT=4000

JWT_ACCESS_SECRET=change_me_at_least_32_chars_prod_access_secret
JWT_REFRESH_SECRET=change_me_at_least_32_chars_prod_refresh_secret

MQTT_URL=mqtts://your-hivemq-prod-cluster.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=colokin-api-prod
MQTT_KEEPALIVE_SECONDS=60
IOT_MODE=mock
IOT_LOCKER_ID=lck_labtek_v_itb
FCM_ENABLED=false
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PUBLIC_API_URL=https://api-colokin.albern.space/v1
