POSTGRES_USER=colokin
POSTGRES_PASSWORD=change_me_strong_database_password
POSTGRES_DB=colokin

JWT_ACCESS_SECRET=change_me_at_least_32_chars_access_secret
JWT_REFRESH_SECRET=change_me_at_least_32_chars_refresh_secret

IOT_MODE=mock
FCM_ENABLED=false
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PUBLIC_API_URL=https://api.colokin.albern.space/v1
CLOUDFLARED_TUNNEL_TOKEN=
