NODE_ENV=development
API_PORT=4000
DATABASE_URL=postgresql://colokin:colokin@127.0.0.1:15432/colokin?schema=public
JWT_ACCESS_SECRET=dev_access_secret_change_me
JWT_REFRESH_SECRET=dev_refresh_secret_change_me
MQTT_URL=mqtt://127.0.0.1:1883
# HiveMQ Cloud:
# MQTT_URL=mqtts://your-cluster.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=colokin-api-local
MQTT_KEEPALIVE_SECONDS=60
IOT_MODE=mock
IOT_LOCKER_ID=lck_labtek_v_itb
PUSH_ENABLED=false
PUSH_PROVIDER=expo
EXPO_ACCESS_TOKEN=
FCM_ENABLED=false
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
